<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>
      <div class="main-div">
          <div class="panel">
   <h2> Editar Registro</h2>

   <% data.forEach(function(details) { %>       
     <form action="/edit/<%= details._id %>" method="POST">
        <div class="form-group">
            <label for="InputEmail1">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="inputEmail" value="<%= details.inputEmail %>">
        </div>    
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= details.name %>">
        </div>
        <div class="form-group">
                <label for="birthdate">Data de Nascimento</label>
                <input type="date" class="form-control" id="birthdate" name="birthdate" value="<%= details.birthdate %>">
              </div>
              <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade" name="cidade" value="<%= details.cidade %>">
                  </div>

            <button type="submit" class="btn btn-primary">Editar</button>
     </form>
   <% }) %>

        </div>
        </div>
         
    
</body>
</html>